.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.fixed-toolbar {
  position: fixed;
  top: 0;
}

.mat-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
