<!-- Just the top section -->
<div class="top"></div>

<!-- Profiles -->
<div fxLayout="column">
  <div class="mat-headline center">
    Few profiles of mine...
  </div>
</div>

<div fxLayout="row"
     fxLayout.lt-md="column"
     fxLayoutAlign.lt-md="center center"
     fxLayoutAlign="center stretch">

  <!-- Stackoverflow -->
  <mat-card class="wa-card">
    <mat-card-content class="center">
      <p>Me@Stack Exchange</p>
      <a href="http://stackexchange.com/users/246295" target="blank">
        <img src="http://stackexchange.com/users/flair/246295.png" width="200" height="50"
             alt="profile for lucho on Stack Exchange, a network of free, community-driven Q&amp;A sites"
             title="profile for Lachezar Balev on Stack Exchange, a network of free, community-driven Q&amp;A sites"/>
      </a>
    </mat-card-content>
  </mat-card>


  <!-- Linkedin -->
  <mat-card class="wa-card">
    <mat-card-content class="center">
      <p>Me@LinkedIn</p>
      <a href="http://bg.linkedin.com/pub/lachezar-balev/6/162/a15" target="blank">
        <img src="assets/li_link.png" width="200" height="50"
             alt="View Lachezar Balev's profile on LinkedIn"/>
      </a>
    </mat-card-content>
  </mat-card>

  <!-- GitHub -->
  <mat-card class="wa-card">
    <mat-card-content class="center">
      <p>Me@Github</p>
      <a href="https://github.com/luchob" target="blank">
        <img class="img" src="assets/github.png" alt="Lachezar Balev's Github Account">
      </a>
    </mat-card-content>
  </mat-card>

</div>

<!-- Friends/fan section -->
<div fxLayout="column">
  <div class="mat-headline center">
    Friend and fan of:
  </div>
</div>

<div fxLayout="row"
     fxLayout.lt-md="column"
     fxLayoutAlign.lt-md="center center"
     fxLayoutAlign="center stretch">

  <!-- BGJUG -->
  <mat-card class="wa-card">
    <mat-card-content class="center">
      <a href="https://jug.bg/en/" target="blank">
        <img
          width="150"
          height="150"
          src="assets/bg-jug.png"
          alt="Bulgarian JUG"
          title="Bulgarian JUG"/>
      </a>
    </mat-card-content>
  </mat-card>

  <!-- JPrime.io -->
  <mat-card class="wa-card">
    <mat-card-content class="center">
      <a href="https://jprime.io" target="blank">
        <img
          width="150"
          height="150"
          src="assets/jprime.png"
          alt="jPrime.io"
          title="jPrime.io"/>
      </a>
    </mat-card-content>
  </mat-card>

  <!-- Java Beer -->
  <mat-card class="wa-card">
    <mat-card-content class="center">
      <a href="https://java.beer" target="blank">
        <img
          width="150"
          height="150"
          src="assets/javabeer.png"
          alt="Java Beer"
          title="Java Beer"/>
      </a>
    </mat-card-content>
  </mat-card>

</div>
