<!-- My profile card -->
<div fxLayout="row" fxLayoutAlign="space-around center" class="profile-card">
  <div fxFlex="1 1 70%" fxFlex.xs="1 1 auto">

    <div class="mat-headline">
      Companies
    </div>

    <div>
      Below are my primary employers.
      I've also worked on a few small scale projects which are not listed here.
    </div>

    <!-- REWE Digital Bulgaria -->
    <mat-card>

      <mat-card-header>
        <mat-card-title>REWE Digital Bulgaria</mat-card-title>
        <mat-card-subtitle>Software Engineer (2017 - till now)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <img class="company-img"
               src="assets/rewe_logo.jpg"
               alt="REWE Digital"
               width="120"
               height="120">
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

                <table>
                  <tr>
                    <td><strong>Company</strong></td>
                    <td>REWE Digital</td>
                  </tr>
                  <tr class="tbl-accent-row">
                    <td><strong>Site</strong></td>
                    <td>rewe-digital.com</td>
                  </tr>
                  <tr>
                    <td><strong>Company summary</strong></td>
                    <td>REWE Digital is a provider of online solutions in markets relevant to REWE Group.</td>
                  </tr>
                  <tr class="tbl-accent-row">
                    <td><strong>Where</strong></td>
                    <td>Bulgaria (Sofia), Germany (Cologne).</td>
                  </tr>
                  <tr>
                    <td><strong>What</strong></td>
                    <td>Software engineer</td>
                  </tr>
                  <tr class="tbl-accent-row">
                    <td><strong>Details</strong></td>
                    <td>
                      Participated in the development of a modern fulfillment platform in
                      with an exciting microservice architecture.
                   </tr>
                </table>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java 8/11, Kotlin, Groovy, Typescript</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure and CI/CD</strong></td>
                <td>
                  Jenkins, Gradle, Groovy,
                  GCloud (GKE, StackDriver, Cloud SQL, StackDriver),
                  Kubernetes, Docker, Git,
                  Kafka, MySQL, OAuth2, Keycloak
                </td>
              </tr>
              <tr>
                <td><strong>Frameworks</strong></td>
                <td>
                  Spring Boot, Spring Data, Spring Security, Spring Batch, Spring Kafka
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Monitoring</strong></td>
                <td>
                  Prometheus, Grafana, Alert manager
                </td>
              </tr>
              <tr>
                <td><strong>Quality</strong></td>
                <td>
                  JUnit, Mockito, Mock MVC, Roboelectric
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Frontend</strong></td>
                <td>
                  Angular 6/7, Android
                </td>
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <div class="spacer-big"></div>

    <!-- Intershop AG -->
    <mat-card>

      <mat-card-header>
        <mat-card-title>Intershop Communications</mat-card-title>
        <mat-card-subtitle>Software Engineer (2007 - 2017)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <img class="company-img"
               src="assets/ish_logo.jpg"
               alt="Intershop Communications AG"
               width="232"
               height="53">
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>Intershop Communications AG</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td>www.intershop.de</td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>Intershop is an independent provider of e-commerce solutions.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia), Germany (Jena), Italy (Milan), UK (London).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Software developer, consultant, technical lead.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of the core java based Intershop e-commerce platform - Intershop 7
                  (formerly known as Enfinity). Worked as an on-site and remote consultant and developer for several customers.
                  Technical lead in a small team. Specialized in web-application security, payment integrations,
                  integreations with external systems. Worked on e-commerce projects implemented for Telstra, Mexx,
                  HP, DBahn, EU Publications Office, Mediaset and others.
                  Participated in the preparation of demo shops for market prospects.
                  Gained understanding of the contemporary e-commerce business.
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java 8/11, Kotlin, Groovy, Typescript</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure and CI/CD</strong></td>
                <td>
                  Jenkins, Gradle, Groovy,
                  GCloud (GKE, StackDriver, Cloud SQL, StackDriver),
                  Kubernetes, Docker, Git,
                  Kafka, MySQL, OAuth2, Keycloak
                </td>
              </tr>
              <tr>
                <td><strong>Frameworks</strong></td>
                <td>
                  Spring Boot, Spring Data, Spring Security, Spring Batch, Spring Kafka
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Monitoring</strong></td>
                <td>
                  Prometheus, Grafana, Alert manager
                </td>
              </tr>
              <tr>
                <td><strong>Quality</strong></td>
                <td>
                  JUnit, Mockito, Mock MVC, Roboelectric
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Frontend</strong></td>
                <td>
                  Angular 6/7, Android
                </td>
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <div class="spacer-big"></div>

    <!-- Gips Group/IO Medico -->
    <mat-card>

      <mat-card-header>
        <mat-card-title>GIPS Group/IOMedico</mat-card-title>
        <mat-card-subtitle>Software Engineer (2002 - 2007)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <img class="company-img"
               src="assets/iomedico_logo.jpg"
               alt="IOMedico"
               width="244"
               height="58">
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>GIPS Group/IOMedico</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td>www.iomedico.org, www.gips.net</td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>GIPS Group is a fancy little company that developed software for clinical studies for the based in Germany IOMedico.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Java developer.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of the desktop software IOStudy Office and IOGroupware as well as some other small apps.
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure</strong></td>
                <td>
                  MySQL, Tomcat, Apache, Ant, CSV
                </td>
              </tr>
              <tr>
                <td><strong>Technologies</strong></td>
                <td>
                  Most of the Core Java technologies and API-s,
                  Swing, JDBC, JCA, Servlet API, JSP, XML processing libraries, etc.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Tools</strong></td>
                <td>
                  IntelliJ IDEA, PHPMyAdmin
                </td>
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>


    <div class="spacer-big"></div>

    <!-- Icygen -->
    <mat-card>

      <mat-card-header>
        <mat-card-title>Icygen</mat-card-title>
        <mat-card-subtitle>Java Developer (2000 - 2002)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <img class="company-img"
               src="assets/icygen_logo.jpg"
               alt="IOMedico"
               width="250"
               height="50">
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>Icygen</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td>www.icygen.com</td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>ICYGEN specializes in providing web-based software, e-business platforms, and Internet marketing solutions.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Java developer.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of different java applets which enhanced the main company site.
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel>

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure</strong></td>
                <td>
                  MySQL, Apache
                </td>
              </tr>
              <tr>
                <td><strong>Technologies</strong></td>
                <td>
                  Core Java technologies and API-s,
                  Java Applets.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Tools</strong></td>
                <td>
                  JCreator
                </td>
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>


  </div>
</div>








