<!-- My profile card -->
<div fxLayout="row" fxLayoutAlign="space-around center" class="profile-card">
  <div fxFlex="1 1 70%" fxFlex.xs="1 1 auto">

    <!-- Companies section start -->
    <div class="section">
      <div class="mat-headline">
        Companies
      </div>
      <div class="mat-body">
        Below are my primary employers.
        I've also worked on a few small scale projects which are not listed here.
      </div>
    </div>

    <!-- REWE Digital Bulgaria -->
    <mat-card class="section">

      <mat-card-header>
        <mat-card-title>REWE Digital Bulgaria</mat-card-title>
        <mat-card-subtitle>Software Engineer (2017 - till now)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <a href="https://rewe-digital.com/" target="_blank" alt="REWE Digital">
            <img class="company-img"
                 src="assets/rewe_logo.jpg"
                 alt="REWE Digital"
                 width="120"
                 height="120">
          </a>
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel (opened)="onExpansionPanelOpen('rewe')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>REWE Digital</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td><a href="https://rewe-digital.com/" target="_blank" alt="REWE Digital">rewe-digital.com</a>
                </td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>REWE Digital is a provider of online solutions in markets relevant to REWE
                  Group.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia), Germany (Cologne).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Software engineer</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of a modern fulfillment platform in
                  with an exciting microservice architecture.
              </tr>
            </table>

          </mat-expansion-panel>

          <mat-expansion-panel (opened)="onExpansionPanelOpen('rewe')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java 8/11, Kotlin, Groovy, Typescript</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure and CI/CD</strong></td>
                <td>
                  Jenkins, Gradle, Groovy,
                  GCloud (GKE, StackDriver, Cloud SQL, StackDriver),
                  Kubernetes, Docker, Git,
                  Kafka, MySQL, OAuth2, Keycloak
                </td>
              </tr>
              <tr>
                <td><strong>Frameworks</strong></td>
                <td>
                  Spring Boot, Spring Data, Spring Security, Spring Batch, Spring Kafka
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Monitoring</strong></td>
                <td>
                  Prometheus, Grafana, Alert manager
                </td>
              </tr>
              <tr>
                <td><strong>Quality</strong></td>
                <td>
                  JUnit, Mockito, Mock MVC, Roboelectric, Cucumber
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Frontend</strong></td>
                <td>
                  Angular 6/7, Android
                </td>
              </tr>
            </table>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <div class="spacer-big"></div>

    <!-- Intershop AG -->
    <mat-card class="section">

      <mat-card-header>
        <mat-card-title>Intershop Communications AG</mat-card-title>
        <mat-card-subtitle>Software Engineer (2007 - 2017)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <a href="https://intershop.com/" target="_blank" alt="Intershop Communications AG">
            <img class="company-img"
                 src="assets/ish_logo.jpg"
                 alt="Intershop Communications AG"
                 width="232"
                 height="53">
          </a>
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel (opened)="onExpansionPanelOpen('intershop')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>Intershop Communications AG</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td><a href="https://intershop.com/" target="_blank"
                       alt="Intershop Communications AG">intershop.com</a></td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>Intershop is an independent provider of e-commerce solutions.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia), Germany (Jena), Italy (Milan), UK (London).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Software developer, consultant, technical lead.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of the core java based Intershop e-commerce
                  platform - Intershop 7
                  (formerly known as Enfinity). Worked as an on-site and remote consultant and
                  developer for several customers.
                  Technical lead in a small team. Specialized in web-application security, payment
                  integrations,
                  integreations with external systems. Worked on e-commerce projects implemented for
                  Telstra, Mexx,
                  HP, DBahn, EU Publications Office, Mediaset and others.
                  Participated in the preparation of demo shops for market prospects.
                  Gained understanding of the contemporary e-commerce business.
              </tr>
            </table>

          </mat-expansion-panel>

          <mat-expansion-panel (opened)="onExpansionPanelOpen('intershop')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java, Java 8, JavaScript</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure and CI/CD</strong></td>
                <td>
                  Jenkins, Gradle, Ant,
                  Oracle (SQL, PL/SQL), SOLR, Tomcat, Apache
                </td>
              </tr>
              <tr>
                <td><strong>Libraries</strong></td>
                <td>
                  Industry standard libraries like Guice, Apache Commons libs (cli, codec, collections, etc),
                  HTTP client, SLF4J with logback, Guava, Jersey and many more
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Quality</strong></td>
                <td>
                  JUnit, Mockito, HTMLUnit, Geb
                </td>
              </tr>
              <tr>
                <td><strong>Frontend</strong></td>
                <td>
                  HTML, JavaScript, CSS, JQuery, JQuery UI, EmberJS
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Tools</strong></td>
                <td>
                  Eclipse (IStudio), JIRA, Confluence, GitLab, SQLDeveloper
                </td>
              </tr>
            </table>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <div class="spacer-big"></div>

    <!-- Gips Group/IO Medico -->
    <mat-card class="section">

      <mat-card-header>
        <mat-card-title>GIPS Group/IOMedico</mat-card-title>
        <mat-card-subtitle>Software Engineer (2002 - 2007)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <a href="https://iomedico.org" target="_blank" alt="IOMedico">
            <img class="company-img"
                 src="assets/iomedico_logo.jpg"
                 alt="IOMedico"
                 width="244"
                 height="58">
          </a>
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel (opened)="onExpansionPanelOpen('iomedico')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>GIPS Group/IOMedico</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td>
                  <a href="https://iomedico.org" target="_blank" alt="IOMedico">iomedico.org</a>,
                  <a href="http://gips.net" target="_blank" alt="GIPS Group">gips.net</a>,
                  www.gips.net
                </td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>GIPS Group is a fancy little company that developed software for clinical
                  studies for the based in Germany IOMedico.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Java developer.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of the desktop software IOStudy Office and
                  IOGroupware as well as some other small apps.
              </tr>
            </table>

          </mat-expansion-panel>

          <mat-expansion-panel (opened)="onExpansionPanelOpen('iomedico')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure</strong></td>
                <td>
                  MySQL, Tomcat, Apache, Ant, CSV
                </td>
              </tr>
              <tr>
                <td><strong>Technologies</strong></td>
                <td>
                  Most of the Core Java technologies and API-s,
                  Swing, JDBC, JCA, Servlet API, JSP, XML processing libraries, etc.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Tools</strong></td>
                <td>
                  IntelliJ IDEA, PHPMyAdmin
                </td>
              </tr>
            </table>

          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>

    <div class="spacer-big"></div>

    <!-- Icygen -->
    <mat-card class="section">

      <mat-card-header>
        <mat-card-title>Icygen</mat-card-title>
        <mat-card-subtitle>Java Developer (2000 - 2002)</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div class="center">
          <a href="http://www.icygen.com" target="_blank" alt="Icygen">
            <img class="company-img"
                 src="assets/icygen_logo.jpg"
                 alt="IOMedico"
                 width="250"
                 height="50">
          </a>
        </div>

        <div class="spacer-small"></div>

        <mat-accordion>
          <mat-expansion-panel (opened)="onExpansionPanelOpen('icygen')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Summary
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Company</strong></td>
                <td>Icygen</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Site</strong></td>
                <td><a href="http://www.icygen.com" target="_blank" alt="Icygen">icygen.com</a></td>
              </tr>
              <tr>
                <td><strong>Company summary</strong></td>
                <td>ICYGEN specializes in providing web-based software, e-business platforms, and
                  Internet marketing solutions.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Where</strong></td>
                <td>Bulgaria (Sofia).</td>
              </tr>
              <tr>
                <td><strong>What</strong></td>
                <td>Java developer.</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Details</strong></td>
                <td>
                  Participated in the development of different java applets which enhanced the main
                  company site.
              </tr>
            </table>

          </mat-expansion-panel>

          <mat-expansion-panel (opened)="onExpansionPanelOpen('icygen')">

            <mat-expansion-panel-header>
              <mat-panel-title>
                Technology
              </mat-panel-title>
            </mat-expansion-panel-header>

            <table>
              <tr>
                <td><strong>Languages</strong></td>
                <td>Java</td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Infrastructure</strong></td>
                <td>
                  MySQL, Apache
                </td>
              </tr>
              <tr>
                <td><strong>Technologies</strong></td>
                <td>
                  Core Java technologies and API-s,
                  Java Applets.
                </td>
              </tr>
              <tr class="tbl-accent-row">
                <td><strong>Tools</strong></td>
                <td>
                  JCreator
                </td>
              </tr>
            </table>

          </mat-expansion-panel>
        </mat-accordion>

        <div class="spacer-small"></div>

      </mat-card-content>
    </mat-card>

    <!-- Education  section start -->
    <div class="section">
      <div class="mat-headline">
        Education
      </div>
      <div class="mat-body">
        Formal education - from 1998 till 2002 - bachelor degree in computer sciences in the
        Technical University - Sofia.
      </div>
    </div>

    <div class="section">
      <div class="mat-headline">
        Interests
      </div>
      <div class="mat-body">
        In the past I have been particularly interested in web-application security
        (Injections, CSRF, XSS, session vulnerabilities - predictions, fixation, DoS, and more).
        I've practical experience in this area and some intermediate knowledge in cryptography
        including real and successful Padding Oracle attacks on AES/CBC/PKCS7
        (<a href="https://github.com/luchob/padding-oracle" title="proof of concept"
            target="_blank">proof
        of concept</a>).
        Later I met Java 8 and Guice an got excited about more functional-style programming.
        Then I started learning and exploring the Spring ecosystem.
        Microservice architectures are an area of current interest.
        Of course I always try to keep my coding skills fresh.
        I love to share my experiences at meetups and conferences.
      </div>
    </div>

    <div class="section">
      <div class="mat-headline">
        Sample code
      </div>
      <div class="mat-body">
        Of course, anyone can browse some code written by me! It can be accessed at my
        <a href="https://github.com/luchob" target="_blank">Github account</a>.
        Various of my technical questions, answers, opinions and some code samples are availbale in my
        <a href="https://stackoverflow.com/users/520359/lachezar-balev" target="_blank">Stackoverflow
          account</a>.
      </div>
    </div>

    <div class="section">
      <div class="mat-headline">
        Misc
      </div>
      <div class="mat-body">
        This is a little bit abstract but anyways, let me try...

        <table>
          <tr>
            <td><strong>Sooo, I...:</strong></td>
            <td>
              <ul>
                <li>
                  love to learn and experiment and browse and peek my nose under the hood.
                  One never knows enough.
                </li>
                <li>
                  try to be flexible and understand all the different points of view.
                </li>
                <li>
                  feel best in informal and startup like environment.
                </li>
                <li>
                  believe in &quot;individuals and interactions over processes and tools&quot;.
                </li>
                <li>
                  feel calm in unknown and uncertain environment.
                </li>
                <li>
                  have spent numerous hours on-site and remotely working on different tasks with new people and even in foreign countries.
                  understand different cultures. In my practice I've cooperated with people from Bulgaria, Germany, Italy, US, UK, Australia, India,
                  Czech Republic, Netherlands, Russia, Ukraine, China, Luxemburg, Macedonia.
                  And even from the Republic of Mauritius...
                </li>
                <li>
                  am not stressed by large audience.
                </li>
                <li>
                 still believe that the best tool for solving problems is a piece of paper and a pencil.
                </li>
                <li>
                  am open and direct.
                </li>
                <li>
                  am not interested in politics and I'll <strong>never</strong> be.
                </li>
              </ul>
            </td>
          </tr>

          <tr class="tbl-accent-row">
            <td>
              <strong>Languages:</strong>
            </td>
            <td>
              Bulgarian - native, English - good, used daily, German - very basic.
            </td>
          </tr>

          <tr>
            <td>
              <strong>Location:</strong>
            </td>
            <td>
              Bulgaria, Sofia - not able to relocate for longer periods at this moment.
            </td>
          </tr>

          <tr class="tbl-accent-row">
            <td>
              <strong>Driving license:</strong>
            </td>
            <td>
              A<img src="assets/heart.png" alt="Love">, B
            </td>
          </tr>

        </table>

      </div>
    </div>

  </div>
</div>








