.company-img {
  border-radius: 4px;
  border: 1px solid dimgray;
  padding: 1px;
  margin: 5px 5px;
}

.center {
  text-align: center;
}

.spacer-small {
  margin-top: 5px;
}

.spacer-big {
  margin-top: 15px;
}

.section {
  margin: 20px 20px 25px;
}

table {
  width: 100%;
}

tr {
  vertical-align: top;
}

ul {
  margin-top: 0;
}
