@import '~@angular/material/theming';

// mixin name will be used in main style.scss
@mixin work-page-component-theme($theme) {

  // retrieve variables from theme
  // (all possible variables, use only what you really need)
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .tbl-accent-row {
      background-color: mat-color($accent, 50, 0.3);
  }
}
