<div fxLayout="column">
  <div class="mat-headline center-text">
    An interview with... myself!
  </div>

  <p class="mat-title center-text">
    The answers of some questions that came out of nowhere.
  </p>
</div>

<mat-list>
  <p class="mat-title center-text">
    Q&amp;A
  </p>

  <mat-list-item>
    <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
    <h4 mat-line><strong>Q:</strong> How old are you?</h4>
    <p mat-line style="white-space: normal"><strong>A:</strong> Well.. I'm not exactly adolescent. I'm in my very early 40's.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
    <h4 mat-line><strong>Q:</strong> Do you like to eat?</h4>
    <p mat-line><strong>A:</strong> Yes. But not too excessively.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>mood</mat-icon>
    <h4 mat-line><strong>Q:</strong> Do you have a family?</h4>
    <p mat-line><strong>A:</strong> Yes. Two (not so) little fellows. We are good friends!</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>mood</mat-icon>
    <h4 mat-line><strong>Q:</strong> And any hobbies besides gazing at your laptop?</h4>
    <p mat-line><strong>A:</strong> I ride two-wheelers and I stay close to nature.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
    <h4 mat-line><strong>Q:</strong> How do you look like?</h4>
    <p mat-line><strong>A:</strong> I hope that I look normally.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
    <h4 mat-line><strong>Q:</strong> Can you speak your native language well?</h4>
    <p mat-line><strong>A:</strong> Yes, I can!</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
  <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
  <h4 mat-line><strong>Q:</strong> Are you nervous?</h4>
  <p mat-line><strong>A:</strong> Not at all.</p>
</mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>sentiment_satisfied</mat-icon>
    <h4 mat-line><strong>Q:</strong> Are you healthy?</h4>
    <p mat-line><strong>A:</strong> There are no healthy people. There are people that are not examined thoroughly.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>sentiment_dissatisfied</mat-icon>
    <h4 mat-line><strong>Q:</strong> Do you love animals?</h4>
    <p mat-line style="white-space: normal"><strong>A:</strong> I respect life. I really do. People who do not feel the same might have deficiencies.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>mood</mat-icon>
    <h4 mat-line><strong>Q:</strong> What do you think about humour?</h4>
    <p mat-line style="white-space: normal"><strong>A:</strong> There are no strong reasons to continue without it.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <mat-icon mat-list-icon>mood</mat-icon>
    <h4 mat-line><strong>Q:</strong> Boys or girls?</h4>
    <p mat-line style="white-space: normal"><strong>A:</strong> Girls.</p>
  </mat-list-item>
  <mat-divider></mat-divider>

  <!--What is your blood type?	A Rh+ if you ever need that. And if you need it indeed - I can donate some blood for you.-->
  <!--Tell some of the things that you would do if you were very rich?	I would ride two-wheelers and stay close to nature.-->
  <!--Which is the best car? The one that just moves. And stops.-->
  <!--Tabs or spaces?	Well... That's difficult...-->
</mat-list>
