<div fxLayout="column">
  <div class="mat-headline center-text">
    An interview with... myself!
  </div>

  <div class="center-text">
    <img
      src="assets/interview.png"
      alt="Interview">
  </div>

  <p class="mat-title center-text">
    The answers of some questions that came out of nowhere.
  </p>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center">
  <div fxFlex="1 1 50%" fxFlex.xs="1 1 auto">
    <div *ngFor="let qa of qas" fxLayout="column" class="qa-section">
      <app-qa-section [qa]="qa"></app-qa-section>
    </div>
  </div>
</div>
