<mat-sidenav-container class="sidenav-container">

  <!-- The side nav -->
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="'push'"
      [opened]="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/home" routerLinkActive="mat-list-item-focus">Home</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/work" routerLinkActive="mat-list-item-focus">Work</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/whereabouts" routerLinkActive="mat-list-item-focus">Whereabouts</a>
      <a (click)="drawer.toggle()" mat-list-item routerLink="/about" routerLinkActive="mat-list-item-focus">About me</a>
    </mat-nav-list>
  </mat-sidenav>
  <!-- EO: Side nav-->

  <!-- Side nav content-->
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="fixed-toolbar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="mat-spacer"></span>
      <span>Lachezar Balev</span>
    </mat-toolbar>

    <div class="mat-toolbar-single-row"></div>

  </mat-sidenav-content>
  <!-- EO: Side nav content-->

</mat-sidenav-container>
