<mat-card>
  <mat-card-header>
    <mat-card-title>Lachezar Balev</mat-card-title>
    <mat-card-subtitle>Software engineer and enthusiast</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="assets/lb-jprime.jpg" alt="Photo of Lachezar Balev">
  <mat-card-content>
    <p class="mat-title">
      Very well done - you have landed on my home page! Welcome!
    </p>
    <p>
      I am a competent and social developer with ~19 years <em>real</em> experience in various software projects -
      eCommerce, fulfillment, medical software, web, mobile and desktop applications.
    </p>
    <p>
      When offline I'm a passionate motorcyclist, plant grower, and I love to climb mountains.
    </p>
    <p>
      That's it in very short! But what is next? You want to know more? Have a quick start with me! :-)
    </p>

    <div class="quick-start">
      <button mat-raised-button color="primary" routerLink="/about">Quick start</button>
    </div>

    <br/><br/>
    <mat-divider></mat-divider>
  </mat-card-content>
  <mat-card-actions align="end">
    <a mat-button href="https://stackoverflow.com/"><img mat-icon src="assets/so.svg" alt="Stackoverflow"></a>
    <a mat-button href="https://stackoverflow.com/"><img mat-icon src="assets/github.svg" alt="GitHub"></a>
    <a mat-button href="https://stackoverflow.com/"><img mat-icon src="assets/linkedin.svg" alt="LinkedIn"></a>
  </mat-card-actions>
</mat-card>
