.mat-spacer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.quick-start {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
